<!-- views/employer_profile.ejs -->
<!--
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Employer Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">
-->

		<!-- LOCAL INFORMATION -->
<!--
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>id</strong>: <%= user.id %><br>
						<strong>username</strong>: <%= user.username %><br>
						<strong>password</strong>: <%= user.password %>
					</p>

			</div>
		</div>

	</div>

</div>
</body>
</html>
-->



<% include ./partials/header %>
<!-- views/profile.ejs -->
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
	html,h2,h4,h5 {
		font-family: "Open Sans", sans-serif
	}
	body {
		margin: 0;
		padding: 0;
		background: url(https://i.pinimg.com/originals/84/a5/f1/84a5f1a03629dcc48efa7115b53f3bd6.jpg);
		background-size: cover;
		font-family: sans-serif;
    }
</style>
<body class="w3-theme-l5">
	<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
		<div class="w3-row-padding">
			<!-- Left Column -->
			<div class="w3-third">
				<!-- Profile -->
				<div class="w3-card w3-round w3-white">
					<div class="w3-container">
						<h4 class="w3-center">My Profile</h4>
						<p class="w3-center"><img src="https://www.hoistgroup.com/wp-content/uploads/2015/01/icon-userprofile-300x300.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p><hr>
						<p><i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i> </p>
						<p><i class="fa fa-envelope fa-fw w3-margin-right w3-text-theme"></i> </p>
					</div>
				</div>
				<br>
				<!-- Skills -->
				<div class="w3-card w3-round w3-white w3-hide-small">
					<div class="w3-container">
						<p>Technical Skills:</p><p>

						</p><p>Business Skills:</p><p>

						</p><p>Cultural Skills:</p><p>

						</p>
					</div>
				</div>
				<br>
			</div>
			<!-- Right Column -->
			<div class="w3-twothird">
				<div class="w3-container w3-card w3-white">
					<h2 class="w3-text-grey w3-padding-16"><i class="fa fa-trophy fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Your Applications</h2>
					
				</div>
			</div>
		</div>
		<br>
	</div>
</body>
</html>