<% include ./partials/header %>
<!doctype html>
<html>

<head>

    <meta charset="utf-8">
    <title>Login</title>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->

    <!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
</style>
<body class="w3-theme-l5">

<!-- Navbar -->

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:20px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <!--<div class="w3-col m3"> -->
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">FirstName LastName</h4>
        <!-- <p class="w3-center"><img src="./avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>-->
         <hr>
         <p><i class="fa-fw w3-margin-right w3-text-theme"></i>Email: Email@Email.Email</p>
         <p><i class="fa-fw w3-margin-right w3-text-theme"></i>Phone: Phone Number</p>
         <p><i class="fa-fw w3-margin-right w3-text-theme"></i>ID: Candidate ID</p>
       </div>
      </div>
      <br>
      
      <!-- Interests --> 
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Technical Skills</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">C++</span>
            <span class="w3-tag w3-small w3-theme-d5">C++</span>
            <span class="w3-tag w3-small w3-theme-d4">C++</span>
          </p>
          <p>Business Skills</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">Office</span>
            <span class="w3-tag w3-small w3-theme-d5">Office</span>
            <span class="w3-tag w3-small w3-theme-d4">Office</span>
          </p>
          <p>Cultural Skills</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">Friendly</span>
            <span class="w3-tag w3-small w3-theme-d5">Friendly</span>
            <span class="w3-tag w3-small w3-theme-d4">Friendly</span>
          </p>
        </div>
      </div>
      <br>
<!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>
</script>

</body>
</html> 
