<% include ./partials/header %>
<!-- views/info.ejs -->
<!doctype html>
<html>
<head>
	<title>Info</title>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    
	<style>
		body {
			font-family: Arial, Helvetica, sans-serif;
		}
		button {
			width: 100%
		}
	</style>
</head>
<body>
    <div class="row">
    <h1 style="text-align: center">Enter skills</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/skills" method="GET">
            <div class="form-group">
                <label>technical skills</label>
                <input type="text" class="form-control" name="technical1" placeholder="Enter technical skill 1..">
                <input type="text" class="form-control" name="technical2" placeholder="Enter technical skill 2..">
                <input type="text" class="form-control" name="technical3" placeholder="Enter technical skill 3..">
                <input type="text" class="form-control" name="technical4" placeholder="Enter technical skill 4..">
                <input type="text" class="form-control" name="technical5" placeholder="Enter technical skill 5..">
                <hr>
                <label>business skills</label>
                <input type="text" class="form-control" name="business1" placeholder="Enter business skill 1..">
                <input type="text" class="form-control" name="business2" placeholder="Enter business skill 2..">
                <input type="text" class="form-control" name="business3" placeholder="Enter business skill 3..">
                <input type="text" class="form-control" name="business4" placeholder="Enter business skill 4..">
                <input type="text" class="form-control" name="business5" placeholder="Enter business skill 5..">
                <hr>
                <label>culture skills</label>
                <input type="text" class="form-control" name="culture1" placeholder="Enter culture skill 1..">
                <input type="text" class="form-control" name="culture2" placeholder="Enter culture skill 2..">
                <input type="text" class="form-control" name="culture3" placeholder="Enter culture skill 3..">
                <input type="text" class="form-control" name="culture4" placeholder="Enter culture skill 4..">
                <input type="text" class="form-control" name="culture5" placeholder="Enter culture skill 5..">
            </div>
        </form>
        <br>
        <button type="submit" class="btn btn-warning btn-lg">Enter</button>
    </div>
</div>
</body>
</html>
